.content_wrap{
    font-family: "Benne", serif;
    font-style: italic;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    color: white;
  }
  
  .text_box{
    height: 170px;
    width: 420px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }